# ============================================================
# CONEXÃO BANCO SQL SERVER (destino dos dados / BI)
# ============================================================
DB_OWN_HOST=
DB_OWN_PORT=1433
DB_OWN_DATABASE=dovale
DB_OWN_USER=sa
DB_OWN_PASSWORD=
# DB_OWN_INSTANCE=SQLEXPRESS    # descomente se usar instância nomeada
# DB_OWN_ENCRYPT=false

# ============================================================
# CONFIGURAÇÃO DO SERVIDOR
# ============================================================
PORT=3333
